
<div class="main">
    <div class="google-btn">
        <div class="input" *ngIf="!user">        
            <app-login></app-login>
            <p>---------------------------- OR ----------------------------</p>
        </div>
        <div >
            <asl-google-signin-button *ngIf="!user"></asl-google-signin-button>
        </div>

        <div *ngIf="user" > 
                <app-google-img [Data]="user.email"></app-google-img>
                <h3 style="color: green;">Login Success</h3>    
                <h5>{{user.name}}</h5>
                <h5>{{user.email}}</h5>
        </div>
    </div>
    
</div>